@import 'components/variables';
@import 'components/reset';

html,
body,
.App {
	background: #263346;
	font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
	height: 100%;
	&::after {
		transition-duration: 0.3s;
		background: rgba(#000, 0);
	}
}
.App {
	position: relative;
	@include center;
	height: auto;
}
@import 'components/loader';
@import 'components/login/login';
@import 'components/header/header';
@import 'components/header/burger/burger';
@import 'components/dashboard/dashboard';
@import 'components/graph/graph';

.card {
	width: 100%;
	align-self: flex-start;
	background: #fff;
	@include headerShadow;
	margin: auto;
	margin-top: 20px;
	padding: 10px 0px;
	padding-bottom: 20px;
	// max-width: 550px;
	border-radius: 5px;
	transition: height 0.3s;
	height: auto;
	// max-height: 350px;
	overflow: scroll;
	@media #{$mq-670} {
		width: 48%;
		margin: 1%;
		margin-top: 20px;
	}
	@media #{$mq-1700} {
		margin: 1%;
		width: 48%;
		margin-top: 20px;
	}
	&>div{
		@include center;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		&>h2 {
			color: $redish;
			margin: 0;
			margin-bottom: 10px;
			margin-top: 10px;
			font-weight: 200;
			&::first-letter {
				text-transform: capitalize;
			}
		}
		&>h3::first-letter {
			text-transform: capitalize;
		}
	}
}

.card:nth-of-type(odd) {
	@media #{$mq-670} {
		margin: 0;
		margin-top: 20px;
		margin-right: 1.5%;
		width: 48.5%
	}
}

.card:nth-of-type(even) {
	@media #{$mq-670} {
		margin: 0;
		margin-top: 20px;
		margin-left: 1.5%;
		width: 48.5%
	}
}

@import 'components/outstandingSnapShot/outstanding-snapshot';
@import 'components/propertySnapShot/property-snapshot';
@import 'components/menu/menu';
@import 'components/addProperty/add-property';
@import 'components/propertyPage/property-page';
@import 'components/propertySetup/property-setup';
@import 'components/managers/managers';
@import 'components/addServiceItem/add-service-item';
@import 'components/editProperty/edit-property';
@import 'components/collectRent/collect-rent';
@import 'components/payABill/pay-bill';
@import 'components/accounting/accounting';
@import 'components/chat/chat';
@import 'components/postSolution/post-solution';
@import 'components/issueImages/issue-images';
@import 'components/toast/_toast';

.no-scroll {
	height: calc(100vh - 50px);
	overflow: hidden;
	@media #{$mq-670} {
		height: calc(100vh - 80px);
	}
	@media #{$mq-1070} {
		height: 100vh;
	}
}

.no-scroll-mobile {
	height: calc(100vh - 50px);
	overflow: hidden;
	@media #{$mq-670} {
		overflow: auto;
		height: auto;
	}
}

.app-shadow {
	@media #{$mq-670} {
		&::after {
			content: "";
			position: fixed;
			top: 0px;
			left: 0;
			height: 400%;
			width: 100%;
			background: rgba(#000, 0.8);
			visibility: visible;
			z-index: 10;
		}
	}
	@media #{$mq-1070} {
		&::after {
			top: 0;
		}
	}
}